<!doctype html>
<html lang="pl">
<link rel="stylesheet" href="../public/styles/main.css">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Personal Diary - Strona Główna</title>
</head>
<header>
    <div class="header">
        <h1>Personal Diary</h1>
        <p style="font-family: 'Lucida Grande',monospace">Prosta aplikacja do zapisywania rozmyśleń</p>
    </div>
</header>
<body>
<main>
    <aside class="sidebar">
        <ul>
            <li><a href="newEntry.html">Dodaj nowy wpis</a></li>
            <li><a href="#funkcjonalności">Wszystkie wpisy</a></li>
            <li><a href="#kategorie">Wszystkie tagi</a></li>
            <li><a href="login.html">Wyloguj się</a></li>
        </ul>
    </aside>

    <div>
    👋 <b>Cześć! Dobrze, że jesteś!</b> <br>
    Twój pamiętnik czeka, gotowy na kolejne rozdziały Twojej historii.<br>
    <br>
        🌿 <b>Tutaj czas zwalnia </b><br>
    To przestrzeń, gdzie możesz być sobą – bez pośpiechu, bez ocen.<br>
    Każde słowo, które zapiszesz, zostaje tu na zawsze – bezpieczne, ciche i tylko Twoje.<br>
    <br>
    ✨ <b> Dlaczego warto wracać?</b><br>
    - <b>Uchwyć chwilę</b>, zanim uleci – zapisuj codzienność, nawet jeśli wydaje się zwykła.<br>
    - <b>Porządkuj myśli</b> – czasem wystarczy kilka zdań, by poczuć spokój.<br>
    - <b>Obserwuj, jak rośniesz</b> – pamiętnik to lustro, które pokazuje, jak bardzo się zmieniasz.<br>
    <br>
    To nie jest zwykła aplikacja – to Twój azyl.<br>
    Gotowy na kolejne wpisy? 😊<br>
    </div>
</main>
</body>
</html>