<!doctype html>
<html lang="pl">
<link rel="stylesheet" href="../public/styles/newEntry.css">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Personal Diary - Dodaj nowy wpis</title>
</head>

<header>
    <div class="header">
        <h1>Personal Diary</h1>
        <p style="font-family: 'Lucida Grande',monospace">Prosta aplikacja do zapisywania rozmyśleń</p>
    </div>
</header>
<body>
<main>
<h3>Dodaj nowy wpis do swojego Pamiętnika!</h3>
<p style="color:#e38f8f;">Uwaga! Wpis może mieć do 2000 znaków!</p>

<form name="newEntryForm" onsubmit="return validateForm()">
    <div>
        <p>Tytuł wpisu:</p>
        <input type="text" name="title"/>
        <span id="titleError" style="color:#e38f8f;"></span>

        <p>Treść wpisu:</p>
        <textarea rows="12" cols="70" maxlength="2000" name="content" oninput="countCharacters()"></textarea>
        <span id="contentError" style="color:#e38f8f;"></span>

        <p>Pozostało znaków: <span id="charCount">2000</span></p>

        <br>
        <button type="submit">Zapisz</button>
        <p id="summaryError" style="color:#e38f8f;"></p>
    </div>
</form>
</main>

<script>
    function countCharacters() {
        const contentField = document.forms["newEntryForm"]["content"];
        const remaining = 2000 - contentField.value.length;
        document.getElementById("charCount").textContent = remaining;
    }

    function validateForm() {
        const errorMessages = [];

        const titleField = document.forms["newEntryForm"]["title"];
        const contentField = document.forms["newEntryForm"]["content"];

        const title = titleField.value;
        const content = contentField.value;

        document.getElementById("summaryError").textContent = "";
        document.getElementById("titleError").textContent = "";
        document.getElementById("contentError").textContent = "";

        if (title.length === 0) {
            document.getElementById("titleError").textContent = "Pole Tytuł nie może być puste";
            errorMessages.push("Pole Tytuł nie może być puste");
        }
        if (content.length === 0) {
            document.getElementById("contentError").textContent = "Pole Treść nie może być puste";
            errorMessages.push("Pole Treść nie może być puste");
        }
        if (errorMessages.length > 0) {
            document.getElementById("summaryError").innerHTML = "Wystąpiły błędy:<br>" + errorMessages.join("<br>");
            return false;
        }
        return true;
    }
</script>
</body>
</html>
