<!doctype html>
<html lang="pl">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Personal Diary</title>
</head>
<body>
<h1>Cześć!</h1>
<h2>Miło Cię powitać na stronie, gdzie możesz pozostawić swoje tajemnice w bezpieczny sposób</h2>
<h5>Dzięki zapisywaniu sowich przemyśleń można nie tylko powracać do wspomnień, ale również wyciągać z nich
    wnioski!</h5>
Serdecznie zapraszmy do "wyrzucenia z siebie" ciężaru przemyśleń! <br>
<a href="login.html">ZALOGUJ SIĘ</a> <br>
<a href="register.html">ZAREJESTRUJ SIĘ</a>
</body>
</html>