body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    line-height: 1.6;
}

header {
    font-family: Fantasy, Copperplate, serif;
    background-color: #c8d9e6;
    color: #567c8d;
    padding: 60px 0;
    text-align: center;
}

main {
    display: flex;
    padding: 20px;
    max-width: 2000px;
    margin: 0 auto;
    background-color: #fff;
    color: #567c8d;
}

.sidebar {
    width: 250px;
    padding: 20px;
}

.sidebar ul {
    list-style: none;
    padding: 0;
}

.sidebar ul li {
    margin-bottom: 10px;
}

.sidebar ul li a {
    color: #567c8d;
    text-decoration: none;
    display: block;
    padding: 5px;
    background-color: #f5efeb;
    border-radius: 5px;
}

.sidebar ul li a:hover {
    background-color: #e5dad4;
    text-decoration: underline;
}

section.content {
    flex: 1;
    margin-left: 20px;
}


footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 2px 0;
    width: 100%;
    bottom: 0;

}
@media print {
    body {
        font-family: 'Times New Roman', Times, serif;
    }

    header {
        color: #000;
        padding: 20px 0;
    }

    .sidebar {
        display: none;
    }

    footer {
        display: none;
    }
}